@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Breakpoint Decoration */
.debug-breakpoint-glyph {
  background: #ef4444;
  border-radius: 50%;
  width: 12px !important;
  height: 12px !important;
  margin-left: 5px;
  cursor: pointer;
}

.debug-breakpoint-line {
    background: rgba(239, 68, 68, 0.1);
}
